.app {
  height: 100vh;
}

.container {
  font-size: 1.0em;
  height: 100vh;

  background: #e3e3e3;
  display: grid;
  grid-template-columns: 1.2fr 2.4fr;
  grid-template-rows: 1.1fr 3.00fr 9.9fr;
  grid-gap: 1px;
  grid-template-areas:
    "menu menu"
    "search search"
    "list details";
}

.menu,
.search,
.list,
.details {
  background:#ffffff;
}

.menu {
  grid-area: menu;
}

.search {
  grid-area: search;
}

.list {
  grid-area: list
}

.details{
  grid-area: details
}
