.supplier {
  display: flex;
  flex-wrap: wrap;
  white-space: nowrap;
  padding: 5px;
  background: #ffffff;
  border: 1px solid #e3e3e3;
}

.supplier > span {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 5px;
}

.supplier.selected {
  background-color: #1f7bad;
  color: #fff;
}

